/* *{outline: 1px solid red;} */
/* ================================================1======================================================================== */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-image: linear-gradient(to right, rgb(24, 104, 179), rgb(16, 51, 132));
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

header h2 {
    font-size: 30px;
    color: aliceblue;
}

header nav {
    gap: 20px;
    display: flex;
}

header a {
    color: white;
}

header h1 {
    font-size: 50px;
    color: white;
    width: 100%;
    text-align: center;
}

header p {
    font-size: 25px;
    text-align: center;
    color: white;
    width: 100%;
}


header button {
    color: white;
    font-size: 15px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: rgba(59, 172, 247, 0.842);
    border: 0px;
}

button:hover {
    background-color: rgba(77, 171, 234, 0.432);
}

button:active {
    background-color: rgba(7, 30, 102, 0.449);
}

/* ====================================================2================================================================ */
div {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 130px 68px;
    flex-wrap: nowrap;
}

div h3 {
    font-size: 25px;
    margin-bottom: 100px;
}

div p {
    font-size: 18px;
    width: 80%;
    color: rgb(67, 66, 66);
}

div li {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.795);
}

div img {
    width: 600px;
    height: 400px;
    border-radius: 30px;
}

/* ============================================================3============================================================ */
main {
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 20px;
    background-color: rgba(235, 237, 240, 0.342);
}

main .a {
    padding: 0px 115px;
    font-size: 25px;
    width: 100%;
}

main span {
    background-color: white;
    border-radius: 20px;
    padding: 20px 0px;
    width: 400px;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.641);
    text-align: center;
}

main span:hover {
    transform: translateY(-15px);
    transition: 1s;
}

main .b,
.c,
.d {
    font-size: 20px;
}

main p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.793);
}

main b {
    font-size: 35px;
}

/* ================================================================4====================================================================== */
article {
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 20px;
    background-color: white;
}

article span {
    background-color: white;
    border-radius: 20px;
    padding: 30px 15px;
    width: 360px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.173);
}

article h3 {
    padding: 0px 125px;
    width: 100%;
    font-size: 25px;
}

article b {
    font-size: 20px;
}

article li {
    font-size: 18px;
}

/* =========================================================5=============================================================================== */
.otzif {
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 20px;
    flex-wrap: wrap;
    background-color: rgba(224, 228, 228, 0.282);
}

.otzif span {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px 15px;
    width: 400px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.173);
}

.otzif h3 {
    padding: 0px 70px;
    width: 100%;
    font-size: 25px;
}

.otzif p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.879);
}

/* =========================================================6=============================================================================== */
.cost {
    /* height: 400px; */
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 20px;
    flex-wrap: wrap;
    background-color: white;
    /* text-align: center; */
}

.cost span {
    background-color: white;
    border-radius: 20px;
    padding: 30px 15px;
    width: 400px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.173);
    text-align: center;
}

.cost h3 {
    padding: 0px 70px;
    width: 100%;
    font-size: 30px;
}

.cost b {
    font-size: 20px;
}

.cost p {
    color: rgb(0, 136, 255);
    font-size: 40px;
}

.cost button {
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 10px;
    width: 200px;
    /* Когда у меня 200px кнопка не в центре когда я даю центр неработает*/
    height: 40px;
    background-color: rgba(1, 13, 254, 0.842);
    border: 0px;
    /* text-align: center; */
}

.cost button:hover {
    background-color: rgba(81, 1, 254, 0.842);
}

.cost input {
    margin: auto;
    /* padding: 10px 250px; */
    width: 600px; 
    height: 35px; 
    display: block;
    border-radius: 10px;
    border: 1px solid grey;
}

 .cost select {
    width: 600px;
    height: 35px;
    border-radius: 10px;
} 
/* .cost h1{
    padding: 0px 0px;
} */
footer p{   
color: aliceblue;
}
footer {
    text-align: center ;
    margin-top: 30px;
    background-color: rgb(40, 38, 38);
    padding: 20px 0px;
}
