body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-image: linear-gradient(to right, rgb(24, 104, 179), rgb(16, 51, 132));
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

header h2 {
    font-size: 30px;
    color: aliceblue;
}

header nav {
    gap: 20px;
    display: flex;
}

header a {
    color: white;
}

header h1 {
    font-size: 50px;
    color: white;
    width: 100%;
    text-align: center;
}

header p {
    font-size: 25px;
    text-align: center;
    color: white;
    width: 100%;
}


header button {
    color: white;
    font-size: 15px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: rgba(59, 172, 247, 0.842);
    border: 0;
}

/* ==================================================================================================================== */
div {
    background-color:white;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

div h3 {
    font-size: 25px;
}

div p {
    font-size: 20px;
    text-align: center;
    width: 100%;
}

div li {
    font-size: 20px;

}

div img {
    width: 600px;
    height: 400px;
    border-radius: 30px;
}
/* ======================================================================================================================== */
main {
    height: 500px;
    display: flex;
    /* justify-content: space-around; */
    background-color: rgba(235, 237, 240, 0.342);
}
main h3{
     font-size: 25px;
}
main span{
    background-color: white;
    border-radius: 20px;
    height: 200px;
    width: 400px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.641);
}