body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-image: linear-gradient(to right, rgb(24, 104, 179), rgb(16, 51, 132));
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
div{
    background-image: linear-gradient(to right, rgb(24, 104, 179), rgb(16, 51, 132));
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav {
    gap: 20px;
    display: flex;
}

h2 {
    font-size: 30px;
    color: aliceblue;
}

p {
    font-size: 25px;
    text-align: center;
    color: white;
    width: 100%;
}

h1 {
    font-size: 50px;
    color: white;
    width: 100%;
    text-align: center;
}

a {
    color: white;
}

button {
    color: white;
    font-size: 15px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: rgba(59, 172, 247, 0.842);
    border: 0;
}