body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-image: linear-gradient(to right, rgb(24, 104, 179), rgb(16, 51, 132));
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

header h2 {
    font-size: 30px;
    color: aliceblue;
}

header nav {
    gap: 20px;
    display: flex;
}

header a {
    color: white;
}

header h1 {
    font-size: 50px;
    color: white;
    width: 100%;
    text-align: center;
}

header p {
    font-size: 25px;
    text-align: center;
    color: white;
    width: 100%;
}


header button {
    color: white;
    font-size: 15px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: rgba(59, 172, 247, 0.842);
    border: 0;
}

/* ==================================================================================================================== */
 div {
    background-color: rgba(225, 220, 220, 0.522);
    height: 600px;
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 25px;
}

.b {
    font-size: 20px;
    text-align: center;
    width: 100%;
}

li {
    font-size: 20px;

}

img {
    width: 600px;
    height: 400px;
    border-radius: 30px;
}