/* *{outline: 1px solid red;} */
/* ================================================1======================================================================== */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-image: linear-gradient(to right, rgba(72, 155, 233, 0.904), rgb(23, 122, 215), rgb(16, 51, 132));
    /* height: 500px; */
    padding: 60px 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@keyframes firik {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header h2 {
    font-size: 30px;
    color: aliceblue;
}

header nav {
    gap: 20px;
    display: flex;
}


header a {
    text-decoration: none;
    color: white;
}

header a:hover{
    color: rgb(235, 111, 23);
    cursor: pointer;
    transition: 0.5s;
}

header h1 {
    font-size: 60px;
    color: white;
    width: 100%;
    text-align: center;
    animation: firik 2s linear;
}

header p {
    font-size: 30px;
    text-align: center;
    color: white;
    width: 100%;
    animation: firik 2s linear;
}


header button {
    color: white;
    font-size: 15px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: rgba(59, 172, 247, 0.842);
    border: 0px;
}

button:hover {
    background-color: rgba(77, 171, 234, 0.432);
    cursor: pointer;
    transition: 0.5s;
}

button:active {
    background-color: rgba(7, 30, 102, 0.449);
}

/* ====================================================2================================================================ */
div {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    flex-wrap: nowrap;
}

div h3 {
    font-size: 25px;
    margin-bottom: 100px;
}

div p {
    font-size: 18px;
    width: 80%;
    color: rgb(67, 66, 66);
}

div li {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.795);
}

div img {
    width: 600px;
    height: 400px;
    border-radius: 30px;
}

/* ============================================================3============================================================ */
main {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap;
    background-color: rgba(235, 237, 240, 0.342);
}

main .a {
    padding: 0px 115px;
    font-size: 25px;
    width: 100%;
}

main span {
    background-color: white;
    border-radius: 20px;
    padding: 20px 0px;
    width: 400px;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.641);
    text-align: center;
}

main span:hover {
    transform: translateY(-15px);
    transition: 1s;
}

main .b,
.c,
.d {
    font-size: 20px;
}

main p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.793);
}

main b {
    font-size: 35px;
}

/* ================================================================4====================================================================== */
article {
    /* heig ht: 400px; */
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px 20px;
    background-color: white;
}

article span {
    background-color: white;
    border-radius: 20px;
    padding: 30px 15px;
    width: 360px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.173);
}

article h3 {
    padding: 0px 125px;
    width: 100%;
    font-size: 25px;
}

article b {
    font-size: 20px;
}

article li {
    font-size: 18px;
}

/* =========================================================5=============================================================================== */
.otzif {
    /* height: 400px; */
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap;
    background-color: rgba(224, 228, 228, 0.282);
}

.otzif span {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px 15px;
    width: 400px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.173);
}

.otzif h3 {
    padding: 0px 70px;
    width: 100%;
    font-size: 25px;
}

.otzif p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.879);
}

/* =========================================================6=============================================================================== */
.cost {
    /* height: 400px; */
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap;
    background-color: white;
    /* text-align: center; */
}

.cost span {
    background-color: white;
    border-radius: 20px;
    padding: 30px 15px;
    width: 400px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.173);
    text-align: center;
}

.cost h3 {
    padding: 0px 70px;
    width: 100%;
    font-size: 30px;
}

.cost b {
    font-size: 20px;
}

.cost p {
    color: rgb(0, 136, 255);
    font-size: 40px;
}

.cost button {
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 10px;
    width: 100px;
    margin-left: 15px;
    /* Когда у меня 200px кнопка не в центре когда я даю центр неработает*/
    height: 40px;
    background-color: rgba(1, 13, 254, 0.842);
    border: 0px;
    /* text-align: center; */
}

.cost button:hover {
    background-color: rgba(81, 1, 254, 0.842);

}

/* ========================================7========================== */
aside {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    padding:0px 50px;
    flex-wrap: wrap;
    background-color: white;
}
aside h1{
    text-align: left;
}
aside input {
    margin: auto;
    padding: 5px;
    width: 600px;
    height: 35px;
    display: block;
    border-radius: 10px;
    border: 1px solid grey;
    margin: auto;
    margin-top: 30px;
}

aside select {
    margin: auto;
    padding: 5px;
    width: 600px;
    height: 35px;
    display: block;
    border-radius: 10px;
    border: 1px solid grey;
    margin: auto;
    margin-top: 30px;
}

aside button {
    margin-top: 50px ;
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: rgba(1, 13, 254, 0.842);
    border: 0px;
}

aside button:hover {
    background-color: rgba(81, 1, 254, 0.842);
}

footer p {
    color: aliceblue;
}

footer {
    text-align: center;
    margin-top: 30px;
    background-color: rgb(40, 38, 38);
    padding: 20px 0px;
}
@media screen and (max-width:770px) {
    div{flex-wrap: wrap;}
}

@media screen and (max-width:425px){
   header nav{display: block;width: 100%;}
   header nav a{display: block;width: 90%;padding: 10px;text-align: center;}
   header h1{font-size: 40px;}
   main .a{padding: 0px;}
   article h3{padding: 0px;}
   header {padding: 5px;}
   div img{width: 100%;height: initial;}
   div p{margin-left: 40px;}
   aside input{width: 100%;}
   aside select{width:100%;}
}
@media screen and (max-width:375px) {
    header h1{font-size: 50px;}
}
@media screen and (max-width:320px) {
    header h1{font-size: 40px;}
    main .a{width: 90%;padding: 0px;text-align: center;}
    article h3{width: 90%;padding: 0px;text-align: center;}
    article b{  margin-left: 40px;}
    div h3{text-align: center;}
    .otzif h3{text-align: center;}
    .cost h3{text-align: center;}
    aside h1{text-align: center;}

}
